.background-content {
  --background: #eef0c7;
  p {
    color: black;
  }
}

.counter__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-button.star {
  position: absolute;
  right: 10px;
  bottom: 230px;
  z-index: 100000;
}

ion-modal {
	--height: 230px;
	--max-height: 230px;
}